<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2019 Giovannelli Lab. Site forked from <a href="https://github.com/mpa139/allanlab">The Allan Lab</a> GitHub website;  <a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">copy and  modify it for your own research group.</a></p>
              <p>We are part of the <a href="http://www.dipartimentodibiologia.unina.it/en/">Department of Biology</a> of the <a href="http://www.unina.it">University of Naples "Federico II"</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Funding:<br />
		 - <a href="http://deepcarbon.net">Deep Carbon Observatory </a>, <a href='http://C-DEBI.org'>C-DEBI</a> and <a href="http://nasa.gov">NASA</a> <br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Department of Biology, Ed. 7 - 1D-22<br />
		  Monte Sant'Angelo<br />
		  80126 Naples - Italy<br />
		  e. donato.giovannelli@unina.it <br />
            (<a href="https://goo.gl/maps/RfFr2sVfi5x">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
