<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2019 Valerie De Anda. Site forked from <a href="https://github.com/dgiovannelli/dgiovannelli.github.io"> Giovanelli Lab </a> GitHub website;  <a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">copy and  modify it for your own research group.</a></p>
              <p>Im a postdoctoral research associate at the  <a href="https://utmsi.utexas.edu/">Marine Science Institute</a> University of Texas, working with   <a href="https://sites.utexas.edu/baker-lab/author/bb34996"> Dr. Bret Baker</a> </a>.</p>



		</div>

		<div class="col-sm-4">
      <p>Follow me on:</p>
      <ul class="social">
      <li><a href="mailto:valdeanda@utexas.edu" class="fa fa-envelope fa-lg"></a></li>
      <li><a href="https://twitter.com/val_deanda" class="fa fa-twitter fa-lg"></a></li>
      <li><a href="https://github.com/valdeanda" class="fa fa-github fa-lg"></a></li>
      <li><a href="https://www.linkedin.com/in/valerie-de-anda-47762474" class="fa fa-linkedin fa-lg"></a></li>
      <li><a href="https://www.instagram.com/valdeanda" class="fa fa-instagram fa-lg"></a></li>
      <li><a href="https://scholar.google.com/citations?user=Bom_ztkAAAAJ&hl=en" class="fa fa-google fa-lg"></a></li>
      <ul>
     </div>

		<div class="col-sm-4">
		  Contact:<br />
		  Marine Science Institute<br />
		  750 Channel View Dr Port Aransas<br />
		  78373 Texas USA <br />
		  email <a href="mailto:valdeanda@utexas">valdeanda@utexas.edu</a> <br />
            (<a href="https://goo.gl/maps/K4eJp9ToqMen2P7u9x">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
